<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eastflag.firstproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LinearActivity"
            android:label="@string/title_activity_linear" />
        <activity
            android:name=".activity.CctvActivity"
            android:label="@string/title_activity_cctv" />
        <activity android:name=".event.Event1Activity" />
        <activity android:name=".event.Event2Activity" />
        <activity android:name=".event.Event3Activity" />
        <activity android:name=".event.Event4Activity" />
        <activity android:name=".event.Event5Activity" />
        <activity android:name=".dynamic.Dynamic1Activity" />
        <activity android:name=".dynamic.Dynamic2Activity"></activity>
    </application>

</manifest>
